  <div class="footer">
    <p>Made with
      <span style="color: #e25555;">&hearts;</span> by
      <a href="https://www.akonobrathwaite.com" target="_target">Akono</a>
    </p>
  </div>

  </body>
</html> 