<% include partials/header %>
<body class="home">
  <header>
    <h1>Best Albums of 2018</h1>
    <span>according to <a href="https://www.complex.com/music/best-albums-2018/" target="_blank">Complex Magazine</a></span>
  </header>
  <div class="getTrack">
    <p>Click 'Get Tracks' to instantly add all 700+ tracks from those albums to a Spotify playlist</p>
    <a href="/login" class="paper-btn">Get Tracks</a>
  </div>
  <div class="navigation">
    <p>See all albums that will be added</p>
    <a class="fas fa-arrow-down border border-5 border-primary" href="albums"></a>
  </div>
<% include partials/footer %>