html {
  height: 100%;
}

body{
  /* See https://www.toptal.com/designers/subtlepatterns/page/2/ for bg patterns */
  background: url(/images/wavy-dots.png);
  background-image: url(/images/wavy-dots.png);
  text-align: center;
}

/* .home class selects homepage body element */
.homePage{ 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

a {
  background-image: linear-gradient(5deg,transparent 65%,#27592D 80%,transparent 90%),linear-gradient(165deg,transparent 5%,#27592D 15%,transparent 25%),linear-gradient(165deg,transparent 45%,#27592D 55%,transparent 65%),linear-gradient(15deg,transparent 25%,#27592D 35%,transparent 50%);
  background-position: 0 90%;
  background-repeat: repeat-x;
  background-size: 4px 3px
}

h1, .paper-btn, .fas, a:visited, .album:nth-child(even) label, 
.album:nth-child(even) .albumInfo {
  color:crimson;
}


/* Select label and albumInfo elements of every other album class*/
.album:nth-child(odd) label, .album:nth-child(odd) .albumInfo {
  color: #27592D;
}

div .paper-btn {
  display: inline-block;
}

header h1{
  margin-bottom: 3px;
}

.home header p{
  margin-bottom: 5%;
}

.albumsPage .navigation p{
  margin-top: 3px;
}

.home .navigation p{
  margin-bottom: 3px;
}

a.fas{
  /* text-decoration: none; */
  background-image: none;
  transition: all 235ms ease-in-out 0s;
}

a.fas:hover{
  -webkit-transform: translate3d(0,2px,0);
  transform: translate3d(0,2px,0);
  box-shadow: 2px 8px 8px -5px rgba(0,0,0,.3);
}

/* Album Page Styles */
.pageContent {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 2%;
  grid-row-gap: 4%;
  justify-content: center;
}
.collapsible{
  width: 100%;
}

.artistName {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media all and (max-width:800px){
  .pageContent {
    display: flex;
    flex-direction: column;
  }
  .row.child-borders {
    width: 80%;
    margin-bottom: 10%;
  } 
}